body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}


#authorList {
  width: 100%;

}

#authorList .author {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 5px 5px;
}

#authorList .author .name {
  width: 100%;
}

#authorList .author .action {
  width: 100px;
  text-align: right;
}

#newAuthorForm {
    display: none;
}